<a href="https://colab.research.google.com/github/rajeshmore1/gitdemo/blob/main/Untitled54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
s="Learning Python is very easy!!!"
n=len(s)
i=0
print("Forwarddirection")
while i >= -n:
  print(s[i],end='')
  i = i-1

Forwarddirection
L!!!ysae yrev si nohtyP gninraeL

In [11]:
s="Learning Python is very easy!!!"
n=len(s)
i=-1
while i >= -n:
  print(s[i], end='')
  i = i-1

!!!ysae yrev si nohtyP gninraeL

In [13]:
s = "data"
'p' not in s

True

In [15]:
city=input("Enter your city Name:")
scity=city.strip()
if scity=='Hyderabad':
    print("Hello Hyderbadi..Adab")
elif scity=='Chennai':
    print("Hello Madrasi...Vanakkam")
elif scity=="Bangalore":
    print("Hello Kannadiga...Shubhodaya")
else:
    print("your entered city is invalid")

Enter your city Name: Pune
your entered city is invalid

In [20]:
city = "  Pune  "
city.rstrip()

'  Pune'

In [22]:
s="22-02-2018"
l=s.split('-')
l

['22', '02', '2018']

In [24]:
s="I am AI Engineer"
l=s.split()
l

['I', 'am', 'AI', 'Engineer']

In [26]:
list1= ['I', 'am', 'AI', 'Engineer']
" ".join(list1)

'I am AI Engineer'

In [32]:
s=input("Enter Some String:")
d={}
for char in s:
  if char in d.keys():
     d[char]=d[char]+1
  else:
     d[char]=1
d

Enter Some String:a

{'a': 1}

In [33]:
s = "data"

for i in s:
  print(i)

d
a
t
a

In [ ]:
prompt

response_1

response_2


"Summarize AI trends 2024"

"AI trends are growing..."

"In 2023 AI was..."


"Write a joke"

"Why did the chicken..."

"I don't know"

Write Python code to assign rank = 1 if response_1 is longer (proxy for better quality), else rank = 2.

In [1]:
response_1 = "AI trends are growing..."
response_2 = "In 2023 AI was..."

if len(response_1)>len(response_2):
  print("rank1")
else:
  print("rank2")

rank1

In [2]:
response_1 = "Why did the chicken..."
response_2 = "I don't know"

if len(response_1)>len(response_2):
  print("rank1")
else:
  print("rank2")

rank1

In [1]:
l = []
a = bytes(l)

In [2]:
type(a)

bytes

In [3]:
a = list([1,2,3,4,5])

In [4]:
a = int("12")

In [6]:
type(a)

int

In [8]:
list=eval(input("EnterList:"))
print(list)
print(type(list))

EnterList:1+1
2
<class 'int'>

In [12]:
Python = 3
a = eval("1+1+Python")
a

5

In [17]:
s="Learning-Python is very very easy!!!"
l=s.split('-')
print(l)
type(l)

['Learning', 'Python is very very easy!!!']

list

In [20]:
l=["python","java","c","spark"]
l[4]

IndexError: list index out of range

In [23]:
# 1)By using while Loop:
n=[0,1,2,3,4,5,6,7,8,9,10]
i=0
while i < 11:
  print(n[i])
  i=i+1
  print("i",i)

0
i 1
1
i 2
2
i 3
3
i 4
4
i 5
5
i 6
6
i 7
7
i 8
8
i 9
9
i 10
10
i 11

In [24]:
# 2)By using for Loop:
n=[0,1,2,3,4,5,6,7,8,9,10]
for i in n:
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [28]:
list[range(0,3)]

TypeError: 'int' object is not subscriptable

In [29]:
list(range(0,10))

TypeError: 'int' object is not callable

In [1]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#3) index(): Returns the index of first occurrence of the specified item.
n=[1,2,2,2,2,3,3]
print(n.index(3))

5

In [6]:
# E.g To add all the elements to list upto or including 100 which are divisible by 10 --> simple --> complex
list1=[]
for i in range(101):
  if i%10==0:
    list1.append(i)
print(list1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
n=[10,20,10,30]
n.remove(30)
print(n)

[10, 20, 10]

In [10]:
n=[10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

In [12]:
text = "python"
print(''.join(reversed(text)))  #

nohtyp

In [13]:
x=[10,20,30,40]

y=x
print(id(x))
print(id(y))

137084496649792
137084496649792

In [14]:
y[0]=100
print(y)
print(x)

[100, 20, 30, 40]
[100, 20, 30, 40]

In [24]:
import copy

a = [[1, 2, 3], [4, 5, 6]]

# Shallow copy
b = copy.copy(a)
b[0][0] = 999
print(a)  # [[999, 2, 3], [4, 5, 6]] - CHANGED! ❌
print(b)   # [[999, 2, 3], [4, 5, 6]]

[[999, 2, 3], [4, 5, 6]]
[[999, 2, 3], [4, 5, 6]]

In [17]:
# Deep copy
a = [[1, 2, 3], [4, 5, 6]]
b = copy.deepcopy(a)
b[0][0] = 999
print(a)  # [[1, 2, 3], [4, 5, 6]] - unchanged ✓
print(b)      # [[999, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]
[[999, 2, 3], [4, 5, 6]]

In [23]:
import copy

a = [1,2,3,4,5]

# Shallow copy
b = copy.copy(a)
b[0] = 999
print(a)  # [[999, 2, 3], [4, 5, 6]] - CHANGED! ❌
print(b)   # [[999, 2, 3], [4, 5, 6]]

[1, 2, 3, 4, 5]
[999, 2, 3, 4, 5]

In [1]:
my_list = [1, 2, 3]
new_list = my_list.copy()

In [2]:
new_list

[1, 2, 3]

In [ ]:
import copy

my_list = [1, 2, 3]
new_list = copy.copy(my_list)      # shallow copy
deep_list = copy.deepcopy(my_list)  # deep copy

In [3]:
n=[10,20,[30,40]]
print(n)
print(n[0])
print(n[2])
print(n[2][0])
print(n[2][1])

[10, 20, [30, 40]]
10
[30, 40]
30
40

In [4]:
l = [[1,2,3],15,[16,17,18]]
print(l[2][0])

16

In [10]:
l = [[[1,2,3],4,5,], 19,20,[22,23,25]]
l[0][0][1]

2

In [12]:
squares = []

for i in range(1,6):
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [13]:
squares = [i**2 for i in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [18]:
t1=(10,20,30)

tuple([i*3 for i in t1])

(30, 60, 90)

In [23]:
t1=(10,20,30)
result = []
for i in t1:
  result.append(i*3)
print(tuple(result))

(30, 60, 90)

In [29]:
"""
from typing import ValuesView
fix+immutable


dict = keys and Values
"""

d = {'[1,2,3]':"rohit", 'roll number 2':"rajesh"}

In [26]:
type(d)

dict

In [ ]:
SET = {1,2,3,4,5}


unordered collection of unique and hashable (fix+immutable) elements.

No duplicates
Unordered - no fix position or index
mutable - add/remove
elements must be hashable - int, float, str, tuple, bool, complex etc
you can't store = - list, dict, set etc

In [6]:
SET = {'python',1,2,3,4,5,10,9, 1+9j, {1,2,3}}
print(SET)

TypeError: unhashable type: 'set'

In [8]:
#create set
empty_set = set()
empty_set2 = set({})
type(empty_set2)

set

In [9]:
nums = {1,2,3}
type(nums)

set

In [13]:
set(("python"))

{'h', 'n', 'o', 'p', 't', 'y'}

In [15]:
num = [1,2,3,3,4,4,5]
set(num)

{1, 2, 3, 4, 5}

In [ ]:
from ast import Delete
CRUD ==> create, read, update and Delete

In [17]:
s= {1,2,3}


print(s)

{1, 2, 3}

In [20]:
s.update({9,10,11})

In [21]:
s

{1, 2, 3, 5, 6, 7, 9, 10, 11}

In [23]:
#Remove the elements
s.remove(10)
s

KeyError: 10

In [26]:
s.discard(9)

In [27]:
s

{1, 2, 3, 5, 6, 7, 11}

In [28]:
s = {10,20,30}
item = s.pop()
item

10

In [29]:
s

{20, 30}

In [30]:
s = {1,2,3}
s.clear()

In [31]:
s

set()

In [33]:
# Membership, length, iteration

s = {1,2,3}
10 not in s

True

In [35]:
len(s)

3

In [36]:
for i in s:
  print(i)

1
2
3

In [37]:
#Mathematical set operations

a = {1,2,3,4}
b = {3,4,5,6}

#Union - All elements from both sets | , union()
a.union(b)

{1, 2, 3, 4, 5, 6}

In [38]:
a|b

{1, 2, 3, 4, 5, 6}

In [39]:
# Intersection - common elements &, intersection()
a & b

{3, 4}

In [40]:
a.intersection(b)

{3, 4}

In [49]:
a = {1,2,3,4}
b = {3,4,5,6}

In [45]:
#Differenc - elements in a but not in b -, difference()

b-a

{5, 6}

In [51]:
# symmetric difference - elements in a or b but not in both
# ^

In [56]:
#subset/superset/disjoint

a = {1,2}
b = {1,2,3}
c = {4,5,2}

a.issubset(b)

True

In [54]:
b.issuperset(a)

True

In [57]:
a.isdisjoint(c) #no common elements

False

In [60]:
# SET Comprehension {}

squares = {i**2 for i in range(5)} #0,1,2,3,4
print(squares)

{0, 1, 4, 9, 16}

In [63]:
squares= set()
for i in range(5): #(0,1,2,3,4)
  squares.add(i**2)
print(squares)

{0, 1, 4, 9, 16}